.sidepanel {
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 180px;
  background-color: var(--color-slate);
  padding: 10px;
  color: var(--color-terminal-green);
  tab-index: 0;
  }
  
dir {
  font: 16px 'IBM', 'mono';
  line-height: 100%;
  margin: 0;
  padding: 0;
  white-space: normal;

  outline-offset: -12px;
}

dir a {
  color: var(--color-terminal-greenlink);
}

dir a:hover {
  color: var(--color-terminal-greenlink-hover);
  font-weight: bold;
}

li {
  list-style-type: none
  }

.skip-content {
  overflow: hidden;
  max-height: 0;
  background-color: var(--color-computer-grey);
  border: none;
  margin: 10px 0;
}

.skip-content:focus-within {
  max-height:100%;
}

.dir-collapse {
  overflow: hidden;
  max-height: 0;
}

.dir-collapse-input {
  display: none;
  list-style-type: none;
}

.dir-collapse-input-label::after {
  content: "+"
}

.dir-collapse-input-label.open::after {
  content: "-";
}

.dir-collapse:focus-within {
  max-height: 100%;
  padding-bottom: 1px;
}

input:checked ~ .dir-collapse {
  max-height: 100%;
}

label {
  cursor: crosshair;  
}

.content-disabled {
  color: var(--color-computer-grey-disable)
}

.content-disabled:hover {
  color: var(--color-computer-grey-disable);
  font-weight: normal;
}