:root {
  --color-slate: #232430;
  --color-linkblue: #4557ff;
  --color-softwhite: #F6F6F1;
  
  --color-terminal-green: #009600;
  --color-terminal-greenlink: #03ca00;
  --color-terminal-greenlink-hover: #04ff00;
  
  --color-computer-grey: #a8a8a8;
  --color-computer-grey-click: #878787;
}

@font-face {
  font-family: 'IBM';
  src: url("_fonts/ibm_vga_mono.ttf") format('truetype');
}

@font-face {
  font-family: 'cr_skullboy';
  src: url("_fonts/cr_skullboy_mono.ttf") format('truetype');
}
body {
  font: 22px 'cr_skullboy', 'mono';
  background-color: var(--color-softwhite);
}

a {
  text-decoration: none;
  color: var(--color-linkblue)
}

h1 a {
  color: var(--color-terminal-greenlink);
}

h1 a:hover {
  color: var(--color-terminal-greenlink-hover);
}

p {
  margin: 10px 0;
}

th {
  
  }
  
table {
  padding: 0;  
}

th, td, tr {
  
  }
  
tc {
  border: 2px solid var(--color-softwhite);
}

h1,h2,h3 {
  background-color: var(--color-slate);
  text-align: center;
  color: white;
  padding: 5px 0;
}

button {
  font: 18px 'cr_skullboy', 'mono';
  }
  
.inline-aside {
  font-size: 16px;
}

.img_floater {
  position: fixed;
  right: -25%;
  height: 100%;
  opacity: .2;
  z-index: -2 ;
}

.content {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 200px;
  padding: 10px;
  max-width: 750px;
  tab-index: 1;
  }

.h0 {
  color: rgb(77, 77, 77);
  background-color: var(--color-slate);
  font-size: 30px;
  overflow: hidden;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h0 > b{
  background-color:var(--color-slate);
  position: absolute;
  right: 20%;
  z-index: 0;
  color: var(--color-softwhite);
  font-size: 60px;
}
  
.content-box-generic {
  background-color: rgba(0.6, 0.6, 0.6, 0.1);
  padding: 10px 15px;
  border-radius: 2px;
}

.content-box-generic-table {
  border-radius: 2px;
}

.content-box-generic-table > tr, td, th {
  background-color: rgba(0.6, 0.6, 0.6, 0.1);
  padding: 4px 8px;
  margin: 2px;
}

.content-box-generic-table > td, th {
  padding: 2px 15px;  
  margin: 2px
}

.content-box-generic-table-header {
  text-align: left;
  font-size: 20px;
  border-bottom: 1px dotted grey;
  font: 22px 'IBM', 'monospace';
}

.content-box-generic-table-header2 {
  text-align: left;
  font: 18px 'IBM', 'monospace';
  border-bottom: 1px dotted grey;
}

.content-box-generic-header {
  text-align: left;
  font-size: 22px;
  border-bottom: 1px dotted grey;
}

.content-box-generic-header2 {
  text-align: left;
  font-size: 20px;
  border-bottom: 1px dotted grey;
}

.portrait {
  border: 4px inset var(--color-computer-grey);
}

.portrait_table {
  margin:0;
  margin-right:10px;
}

.portrait_table th {
  padding:0;
  margin:0;
}

.portrait_table td {
  padding:0;
  margin:0;
  text-align: center;
}

.directory_ibm_nohighlight {
  font: 16px 'IBM', 'monospace';
  color: var(--color-slate);
}

.dos_install_popup{
  background-color: blue;
  box-shadow: inset 0 0 0 5px blue, inset 0 0 0 10px white;
  padding: 15px;
  color: white;
  margin: 10px 0px;
  }
  
.dos-button{
  border: 4px outset var(--color-computer-grey);
  background-color: var(--color-computer-grey);
  color: black;
  text-align:center;
  padding: 0 25px
}

.dos-button:hover, .dos-button:focus-within {
  border: 4px inset var(--color-computer-grey); !important;
  background-color: var(--color-computer-grey);
  cursor: pointer;
}

.dos-button:active {
  border: 4px inset var(--color-computer-grey-click);
  background-color: var(--color-computer-grey-click);
}

.internal-link {
  font: 17px 'IBM', 'mono';
  line-height: 100%;
  margin: 0;
  padding: 0;
  white-space: normal;
  color: var(--color-terminal-green);
}

.internal-link:hover {
  color: var(--color-terminal-greenlink);
}

.awaw:before  {
  content: '|\A|-';
  white-space: pre;
}