

@font-face {
  font-family: 'Futura';
  src: url("/_assets/_fonts/futura-m.ttf") format('truetype');
}

@font-face {
  font-family: 'Smokum';
  src: url("/_assets/_fonts/smokum.ttf") format('truetype');
}