@font-face {
  font-family: 'Futura';
  src: url("/_assets/_fonts/futura-m.ttf") format('truetype');
}

@font-face {
  font-family: 'Smokum';
  src: url("/_assets/_fonts/smokum.ttf") format('truetype');
}

@font-face {
  font-family: 'Raleway';
  src: url("/_assets/_fonts/raleway.ttf") format('truetype');
}


.cover {
  width: 100px;
  height: 100px;
  background-size: 100px 100px;
  display:flex;
  flex-flow:row;
  align-items:center;
  justify-content:center;
  border: 1px solid grey;
  color:#FFFFFF00;
  
}

.coverText {
  
  font-size:50px;
  text-align:center;
  margin:0;
  font-family:"Smokum"
}

.coverText:hover {
  
  filter:none;
}


#gpCover {
  background-image: url('good_people/protocover.png');
}

#gpCover:hover {
  background-image: url('good_people/protocover_gs.png');
  color:#c7b724FF;
}

#friendsCover{
  background-image: url('friends/protocover.png');
}

#friendsCover:hover {
  background-image: url('friends/protocover_gs.png');
  color:#e4e6e8FF
}